*{
    /* width: 1440px;
    height: 1049px; */
    flex-shrink: 0;
    font-size: 10px;
    
}
/* .nav,.home, .why, .Acheivement,.testimonial{
    overflow: hidden;
} */
body{
    overflow-x: hidden;
}
.nav{
/* width: 1110px;
height: 100px; */
padding: 3rem;
flex-shrink: 0;
display: flex;
justify-content: space-around;
align-items: center;
margin-left: 7.5rem;
}

.nav ul{
 display: flex;
justify-content: center;
align-items: center;
gap: 5.6rem;
padding: 1.2rem;
}
.list-link{
color: var(--neutral-grey-7, #2D2F30);
font-family: Poppins;
font-size: 1.2rem;
font-style: normal;
font-weight: 400;
line-height: 2.3rem; 
letter-spacing: 0.15rem;
text-transform: uppercase;
}
.nav svg{
width:2.4rem;
height: 2.4rem;
flex-shrink: 0;
}
.logo span{
font-family: Poppins;
font-size: 2rem;
font-style: normal;
font-weight: 700;
line-height: 1.2rem; 
color: #ffffff;
}
#circle {
background: #094B72;
border-radius: 50%;
width: 3.6rem;
height: 3.6rem;
display: flex;
justify-content: center;
align-items: center;
}
.nav-logo a{
color: var(--neutral-grey-7, #2D2F30);
font-family: Poppins;
font-size: 2rem;
font-style: normal;
font-weight: 700;
line-height: 2.3rem; 
letter-spacing: 0.15rem;
}
.nav-swiftfix{
    color: var(--neutral-grey-7, #2D2F30);
font-family: Poppins;
font-size: 2rem;
font-style: normal;
font-weight: 700;
line-height: 2.3rem; 
letter-spacing: 0.15rem;
}
.logo{
    position: relative;
    display: flex;
    justify-content: center;
    gap: 1em;
  
}
#logo-footer{
    position: absolute;
    top: 117px;
    left: 200px;
    position: absolute;
 color: var(--neutral-grey-1, #F9F8F9);
font-family: Poppins;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 23px; /* 104.545% */
letter-spacing: 1.5px;

}
.logo a {
    position: absolute;
    top: 8px;
    left: 52px;
    position: absolute;
font-family: Poppins;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 23px; /* 104.545% */
letter-spacing: 1.5px;
} 
.home-hero-info h1{
 color: #094B72;
font-family: Playfair Display;
font-size:9rem;
font-style: normal;
font-weight: 700;
line-height: 120%; 
letter-spacing: 0.18rem;
margin-bottom: 0;
width: 60rem;
}
.home-hero-info p{
color: var(--neutral-grey-6, #4F4F4F);
font-family: Plus Jakarta Sans;
font-size: 2.4rem;
font-style: normal;
font-weight: 500;
line-height: 158%; 
letter-spacing: 0.05rem;
margin-top: 0;
display: block;
width: 40rem;
}
.home-hero{
    display: flex;   
    margin-left: 22rem;
}
button{
width: 19rem;
height: 8rem;
flex-shrink: 0;
border-radius: 0.8rem;
background: #094B72;
color: var(--neutral-grey-1, #F9F8F9);
font-family: Plus Jakarta Sans;
font-size: 1.4rem;
font-style: normal;
font-weight: 700;
line-height: 140.5%; 
letter-spacing: 0.128rem;
}
.home-hero-info-companies span{
 color: var(--neutral-grey-5, #8B8C8C);
font-family: Plus Jakarta Sans;
font-size: 2.4rem;
font-style: normal;
font-weight: 400;
line-height: 140.5%; 
letter-spacing: 0.088rem;
}
.home-hero-image{
    position: relative;
}
.home-hero-image .groupe-of-cercle{ 
    position: absolute;
    z-index: 1;
    margin-top: -114px;
}
.home-hero-image .Abdellah-image{
    position: absolute;
    z-index: 2;
    right: -40rem;
}
.carte{
 width: 38.2rem;
height: 11.4rem;
flex-shrink: 0;
border-radius: 1rem;
background: #ffffff;
left: 110rem;
position: absolute;
z-index: 3;
box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
margin-top: 23rem;
}
.name{
color: #33475B;
text-align: center;
font-family: Plus Jakarta Sans;
font-size: 2.4rem;
font-style: normal;
font-weight: 700;
line-height: 3.6rem; 
display: block;
margin: 1.5rem;
}
.role{
color: #87898C;
text-align: center;
font-family: Plus Jakarta Sans;
font-size: 1.6rem;
font-style: normal;
font-weight: 500;
line-height: 3.6rem;
display: block;
margin: 0.5rem;
}
img[src*="Wobz"]{
 width: 122px;
height: 54.9px;
flex-shrink: 0;
}
img[src*="Capgemini"]{
width: 122px;
height: 28.517px;
flex-shrink: 0;  
}
img[src*="Cegedim"]{
width: 122px;
height: 26.973px;
flex-shrink: 0;
}
img[src*="Inetum"]{
 width: 122px;
height: 30.233px;
flex-shrink: 0;
}
.image-container1 {
    display: flex;
    gap: 3rem;
    margin: 2rem 0;
}
.image-container2{
    display: flex;
    gap: 3rem;
    margin: 2rem 0;
}
.home-hero-info-companies{
    position: absolute;
    margin-top: 12rem;
}
.Why{
margin-top:30rem;
flex-shrink: 0;
background: #F2F7FF;
display: flex;

}
.margin{
    margin-left: 15rem;
}
.title{
width: 41.9309rem;
height: 29.1rem;
flex-shrink: 0;
margin-top: 15rem;
}
.title h2{
color: var(--neutral-grey-7, #2D2F30);
font-family: Playfair Display;
font-size: 4.8rem;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.0323rem;
}
.title p{
color: var(--neutral-grey-5, #8B8C8C);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Poppins;
font-size: 2rem;
font-style: normal;
font-weight: 400;
line-height: 3.6rem; /* 180% */
letter-spacing: 0.05rem;
padding-right: 12rem;
}
.Our-feature{
    margin:10rem 0;
}
.why svg{
width: 3.7rem;
height: 3.7rem;
flex-shrink: 0;
gap:5rem;
}
.Our-feature svg {
    padding:0 0 14px 0
}
.Our-feature h3{
width: 18.1rem;
color: var(--Text, #363940);
font-family: Playfair Display;
font-size: 2.2rem;
font-style: normal;
font-weight: 700;
line-height: 2.2rem; /* 100% */
letter-spacing: 0.05rem;
margin: 0px 0px 2px;
}
.Our-feature p{
width: 21rem;
color: var(--neutral-grey-5, #8B8C8C);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Plus Jakarta Sans;
font-size: 1.4rem;
font-style: normal;
font-weight: 400;
line-height: 2.4rem; /* 171.429% */
letter-spacing: 0.03rem;
}
.feature{
 border-radius: 0.8rem;
background: #FCFCFC;
box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06);
/* width: 25.6rem; */
padding: 2.4rem;
display: flex;
flex-direction: column;
align-items: flex-start;
margin: 1rem;
}
.two-feature{
    display: flex;
}
.Acheivement{
    background-color: #094B72;
    position: relative;
    height: 356px;
    /* width: 1440px; */
    width: 1520px;
}
.Acheivement svg{
    position: absolute;
    z-index: 1;
}
.Acheivement-heading h2{
color: var(--default-white, #FFF);
text-align: center;
font-feature-settings: 'salt' on, 'liga' off;
font-family: Playfair Display;
font-size: 4.8rem;
font-style: normal;
font-weight: 900;
line-height: 6.4rem; /* 133.333% */
letter-spacing: 0.024rem;
margin: 0;
padding-top: 4rem;
}
.Acheivement-heading span{
 color: var(--default-white, #FFF);
text-align: center;
display: flex;
flex-direction: column;
font-feature-settings: 'salt' on, 'liga' off;
font-family: Poppins;
font-size: 1.8rem;
font-style: normal;
font-weight: 400;
line-height: 3.2rem; /* 177.778% */
letter-spacing: 0.05rem;
align-self: stretch;
}
.Details-number{
 color: var(--default-white, #FFF);
text-align: center;
font-feature-settings: 'salt' on, 'liga' off;
font-family: Poppins;
font-size: 4.8rem;
font-style: normal;
font-weight: 800;
line-height: 6.4rem; /* 133.333% */
display: block;
}
.Details-label{
color: var(--default-white, #FFF);
text-align: center;
font-feature-settings: 'salt' on, 'liga' off;
font-family: Poppins;
font-size: 1.8rem;
font-style: normal;
font-weight: 400;
line-height: 3.2rem; /* 177.778% */
letter-spacing: 0.0054rem;
}
.Details{
    display: flex;
    justify-content: space-evenly;
    margin: 8rem;
}

.dividor{
    border: 2px rgba(255, 255, 255, 0.5);
    border-right-style: solid;
    border-left-style: solid;
    padding: 0 7rem;
}
.testimonial{
    background-color:#F2F7FF ;
    position: relative;
    height: 52rem;
}
.testimonial h2{
 color: var(--neutral-grey-7, #2D2F30);
text-align: center;
font-feature-settings: 'salt' on, 'liga' off;
font-family: Playfair Display;
font-size: 4.8rem;
font-style: normal;
font-weight: 700;
line-height: 6.4rem; /* 133.333% */
letter-spacing: 0.05rem;
margin: 0;
padding: 6rem;
}
.d{
 background-color: #ffffff;
 border-radius: 10px;
box-shadow: #C4C4C4;
box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06);
padding: 10px 65px;
}
.testimonial-cards h3{
color: var(--neutral-grey-8, #151617);
text-align: center;
font-feature-settings: 'salt' on, 'liga' off;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 155.556% */
}
.testimonial-cards p{
    color: var(--neutral-grey-6, #4F4F4F);
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.5px;
}
.testimonial-cards{
    display: flex;
    gap: 5rem;
    margin: 0 20rem;
    
}
.testimonial-cards--text{
    width: 540px;
height: 220px;
}
.testimenial-cards--clientDetails{
    display: flex;
    gap:1rem;
    margin-top: 4rem;

}
.testimenial-cards--clientDetails--name{
    color: var(--neutral-grey-8, #151617);
font-feature-settings: 'salt' on, 'liga' off;

/* Subtitle / Subtitle 1 */
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 155.556% */
}
.testimenial-cards--clientDetails--role{
    color: var(--neutral-grey-6, #4F4F4F);
font-feature-settings: 'salt' on, 'liga' off;

/* Body / Body 2 */
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
}
#uppercase{
    text-transform: uppercase;
}
.testimenial-cards--clientDetails-test{
    /* width: 12.5rem; */
    display: flex;
    flex-direction: column;
}
.testimonial svg{
width: 17.6rem;
height: 14.9rem;
flex-shrink: 0;
position: absolute;
left: 115rem;
margin: -12rem 0rem;
}
    .CTA h2{
    color: var(--neutral-grey-7, #2D2F30);
   
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: Playfair Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; /* 133.333% */
    letter-spacing: 0.5px;
}
.CTA p{
    color: var(--neutral-grey-6, #4F4F4F);
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 36px; /* 150% */
letter-spacing: 0.5px;
width: 670px;
flex-shrink: 0;
}
.CTA button{
 color: var(--neutral-grey-1, #F9F8F9);
font-family: Poppins;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: 36px; /* 163.636% */
letter-spacing: 0.5px;
margin-bottom: 6rem;
}
footer{
    background-color: #094B72;
}
.link{
    display: flex;
    justify-content: flex-end;
    /* gap:5rem */
    padding: 8rem;

}
.link span{
    color: var(--text-gray-100, #F4F5F7);
font-feature-settings: 'salt' on, 'liga' off;

/* Heading / H6 */
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 30px; /* 150% */
padding: 3rem;
}
ul.link-column--item{
color: var(--text-gray-200, #EEEFF4);
font-feature-settings: 'salt' on, 'liga' off;
/* Body / Body 1 */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
margin: 0;
}
.contact h1{
    color: #094B72;
font-family: Playfair Display;
font-size: 90px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 108px */
letter-spacing: 1.8px;
text-align: center;
}
input{
 border-radius: 21px;
background: #094B72;
width: 424px;
height: 46.682px;
flex-shrink: 0;
padding: 1rem;
}
.message{
    width: 424px;
height: 172.712px;
flex-shrink: 0;
}
input::placeholder{
color: #FFF;
font-family: B612;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 60px; /* 300% */
}
form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
form button{
 width: 147.25px;
height: 62px;
flex-shrink: 0;
color: var(--neutral-grey-1, #F9F8F9);
font-family: Plus Jakarta Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 140.5%; /* 22.48px */
letter-spacing: 1.28px;
}
.contact-info{
    display: flex;
margin: 6rem;
    gap: 8rem;
}

.services h1{
 color: #094B72;
font-family: Playfair Display;
font-size: 90px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 108px */
letter-spacing: 1.8px;
text-align: center;
   }
   .services-cards{
    display:flex;
    justify-content: center;
    gap:6rem;
   }
   .services-card {
    background-color: #094B72;
    width: 355px;
height: 328.062px;
flex-shrink: 0;
   }
 #card1{
    margin: 50px 70px;
   }
   #card2{
    margin: 50px 57px;
   }
   #card3{
    margin: 50px 68px;
   }
   

   .services-card ul{
    color: #2D2F30;
    font-family: Playfair Display;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 14.4px */
    letter-spacing: 0.24px;
    margin: 0;
    padding: 0;
   }
 .services-card h3{
    color: #000;
    font-family: Playfair Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 24px */
    letter-spacing: 0.4px;
}
.about{
    display: flex;
}
.about figure{
    margin: 0;
}
    .about img{
        width: 493px;
        height: 824.868px;
        flex-shrink: 0;
    }
    .about svg{
        margin-left: -496px;
    }
    .about-text{
    position: absolute;
    margin: 55px 315px 0px 658px;
    }
    .about-text h1{
 color: #094B72;
font-family: Playfair Display;
font-size: 90px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 108px */
letter-spacing: 1.8px;
    }
    .about-text p{
color: var(--neutral-grey-6, #4F4F4F);
font-family: Plus Jakarta Sans;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 158%; /* 37.92px */
letter-spacing: 0.5px;
    }
.about-text button{
    color: var(--neutral-grey-1, #F9F8F9);
font-family: Plus Jakarta Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 140.5%; /* 22.48px */
letter-spacing: 1.28px;
}


.readMore-nav{
    display: flex;
    gap: 196px;
    padding: 3rem;
    margin-left: 179px;
}
.readMore-nav span{
    color: #0F2137;
font-family: DM Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 150% */
}
.readMore-hr1{
    border-top: 3px solid #094B72;
    border-radius: 5px;
    width: 273.34px;
height: 2.529px;
position: absolute;
top: 1024px;
left: 160px;
}
/* .readMore-hr2{
    border-top: 3px solid #094B72;
    border-radius: 5px;
 width: 273.34px;
height: 2.529px;
position: absolute;
} */
 .circle{
border-radius: 50%;
width: 38.6rem;
height: 38.6rem;
margin: 130px;
background: rgba(110, 168, 255, 0.10);
/* display: flex;
justify-content: center;
align-items: center; */
 } 
 .circle span{
    color: #000;
font-family: Playfair Display;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 28.8px */
letter-spacing: 0.48px;
position: absolute;
top: 1317px;
left: 186px;
width: 241px;
}
 
 .circle1{
    border-radius: 50%;
    background: #094B72;
border-radius: 50%;
width: 10.3em;
height: 10.3rem;
position: absolute;
top: 1136px;
left: 336px;
 } 
 .circle1 img{
    width: 71.19px;
height: 70.246px;

position: absolute;
top: 12px;
left: 16px;
 }
 .circle2{
    border-radius: 50%;
    background: #094B72;
border-radius: 50%;
width: 10.3em;
height: 10.3rem;
position: absolute;
top: 1236px;
left: 455px;
 } 
 .circle2 img{
    width: 81.249px;
height: 80.172px;
position: absolute;
top: 16px;
left: 18px;
 }
 .circle3{
border-radius: 50%;
 background: #094B72;
border-radius: 50%;
width: 10.3em;
height: 10.3rem;
position: absolute;
top: 1497px;
left: 336px;
 }
 .circle3 img{
    width: 66px;
    height: 66px;
    position: absolute;
    top: 20px;
    left: 18px;
 
 }
 .circle4{
    border-radius: 50%;
 background: #094B72;    top: 1393px;
 left: 448px;
border-radius: 50%;
width: 10.3em;
height: 10.3rem;
position: absolute;
top: 1393px;
left: 448px;
 }
 .circle4 img{
width: 79px;
height: 79px;
position: absolute;
top: 16px;
left: 12px;
 }
 .hr1 hr{
 border-top: 3px solid #094B72;
border-radius: 5px;
width: 273.34px;
height: 2.529px;
position: absolute;
/* top: 50px; */
top: 1186px;
left: 548px;
flex-shrink: 0;
 }
 .hr2 hr{
    border-top: 3px solid #094B72;
   border-radius: 5px;
   width: 273.34px;
   height: 2.529px;
   position: absolute;
   /* top: 50px; */
   top: 1292px;
    left: 662px;
   flex-shrink: 0;
    }
    .hr3 hr{
    border-top: 3px solid #094B72;
    border-radius: 5px;
    width: 273.34px;
    height: 2.529px;
    position: absolute;
    /* top: 50px; */
    top: 1433px;;
     left: 662px;
     flex-shrink: 0;
        }
 .hr4 hr{
    border-top: 3px solid #094B72;
    border-radius: 5px;
    width: 273.34px;
    height: 2.529px;
    position: absolute;
    /* top: 50px; */
    top: 1552px;
    left: 548px;
    flex-shrink: 0;
  }
  .whyUs{
    display: flex;
  }
  .whyUs ul{
      color: #2D2F30;
font-family: Playfair Display;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 14.4px */
letter-spacing: 0.24px;
  }
 .list1{
    
   width:210px ;
    position: absolute;
    top: 1185px;
    left: 880px;
}
.hr-label1{
    
    width:210px ;
     position: absolute;
     top: 1168px;
     left: 658px;
 }
.list2{
   width:190px ;
    position: absolute;
    top: 1290px;
    left: 990px;
}
.hr-label2{
    width:190px ;
     position: absolute;
     top: 1273px;
     left: 771px;
 }
.list3{
    position: absolute;
    top: 1432px;
    left: 990px;
}
.hr-label3{
    position: absolute;
    top: 1415px;
    left: 746px;
}
.list4{

    width: 200px;
    position: absolute;
    top: 1551px;
    left: 880px;
}
.hr-label4{

    width: 200px;
    position: absolute;
    top: 1532px;
    left: 644px;
}
.hr-label{
    color: #000;
font-family: Playfair Display;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 24px */
letter-spacing: 0.4px;
}
.our-team h2{
    color: #094B72;
text-align: center;
font-family: Playfair Display;
font-size: 90px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 108px */
letter-spacing: 1.8px;
}
.our-team .name{
    color: #0F2137;
font-family: DM Sans;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 50px; /* 250% */
letter-spacing: -0.2px;
text-align: start;
    margin: 0;
    height: 26px;
}
.our-team .role{
  color: #7589A1;
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 50px; /* 312.5% */
letter-spacing: -0.2px;  
margin: 0;
text-align: start;
}

.our-teamMembers{
    display: flex;
    margin: 0px 239px 0px 430px;
    gap: 6rem;
}
.our-team1{
    display: flex;
    flex-direction: column;
}
.our-team2{
    display: flex;
    flex-direction: column;
}
.our-team3{
    display: flex;
    flex-direction: column;
}
.our-team1 img{
    width: 200px;
    height: 200px;
    background-color: #094B72;
}
.our-team2 img{
    position: absolute;
    left: 655px;
    width: 284px;
    height: 210px;
}
.our-team2--bg{
    width: 200px;
    height: 200px;
    background-color: #094B72;
}

.our-team3 img{
    position: absolute;
    left: 923px;
    width: 284px;
    height: 210px;
}
.our-team3--bg{
    width: 200px;
    height: 200px;
    background-color: #094B72;
}
.footer--circle{
    background-color: #FFF;
    border-radius: 50%;
    width:6rem;
    height:6rem;
    position: relative;
    top: 97px;
    left: -605px;
}
#footer--S{
    position: absolute;
    z-index: 2;
    top: 25px;
    left: 25px;
    color:#094B72;
    
}
.sub-footer{
    background: #004D7B;
    display: flex;
    justify-content: space-between;
    height: 4rem;
    padding: 2rem;

}
.sub-footer span{
   color: var(--text-gray-300, #D9DBE1);
font-feature-settings: 'salt' on, 'liga' off;

/* Body / Body 2 */
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
}


.sub-footer svg{
    margin: 0 1rem;
}
.readMore-hr2 hr{
   border-top: 3px solid #094B72;
   border-radius: 5px;
   width: 273.34px;
   height: 2.529px;
   position: absolute;
   top: 1767px;
   left: 490px;
    }
    .our-teamMembers{
        margin-bottom: 11rem;
    }
    .services{
        margin-bottom: 20rem;
    }
    iframe{
        width:600px;
        height:600px;
    }